body {
    font-family: "Roboto", sans-serif;
    color: #212121;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
}

button {
    cursor: pointer;
}

address {
    font-style: normal;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.navigation-list,
.contacts-list,
.principles-list,
.tasks-list,
.team-list,
.address-list,
.filter-list,
.projects-list,
.team-soc-list,
.permanent-clients-list {
    list-style: none;
}