body {
    font-family: "Roboto", sans-serif;
    color: #212121;
}

button {
    cursor: pointer;
}

address {
    font-style: normal;
}

.navigation-list,
.contacts-list,
.principles-list,
.tasks-list,
.team-list,
.address-list,
.filter-list,
.projects-list,
.team-soc-list,
.permanent-clients-list {
    list-style: none;
}